@model ML.Beca
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/Cards.css" />
<div class="text-center">
    <h2 style="color:#ffffff;">Becas disponibles</h2>
</div>
<hr />
@if (Model.Becas.Count > 0)
{
    <div class="container">
        @foreach (ML.Beca beca in Model.Becas)
        {
         <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://www.gob.mx/cms/uploads/action_program/main_image/7930/post_becas-1461081842657.jpg">
                    <h3>@beca.Tipo</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Para registrar la beca presiona el botón de Agregar Becas</p>
                    <a href="@Url.Action("AddBeca","Beca",new {IdBeca=beca.IdBeca})">Agregar Beca</a>
                </div>
            </div>
        </div>   
        }
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No hay registros de becas
    </div>
}
